:root{
    /* colores */
    --color1: #2bbfda;
    --color2: #ffffff;
    --color3: #344856;
    --color4: #203646;
    /* tipografia */
    --fuente1: "Poppins", sans-serif;
    /* tamaño de fuente */
    --fs1:16px;
    --fs2:20px;
    --fs3:24px;
    --fs4:36px;
    /* interlineado */
    --lh1:1.8;
    --lh2:1.5;
    --lh3:2;
}
/* normalize */
*{
    margin: 0;
    padding: 0;
    /* evita que cambien el tamaño de las cajas */
    box-sizing: border-box;
    text-decoration: none;
}
img{
    display: block;
}
body{
    font-family: var(--fuente1);
    font-size: var(--fs1);
    line-height: var(--lh1);
}
h1{
    font-size: var(--fs4);
}
h2{
    font-size: var(--fs4);
    font-weight: 200;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 15px 0;
}
h3{
    font-size: var(--fs2);
    font-weight: 600;
    line-height: 1.2;
}
h4{
    font-size: var(--fs1);
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
#top-bar{
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px 0;
    font-size: 0.9em;
}
#top-bar a{
    color: var(--color2);
    padding-right: 10px;
}
#header{
    background-color: var(--color2);
    color: var(--color3);
    position: sticky;
    top: 0;
    z-index: 10;
}
#about{
    background-color: var(--color1);
    color: var(--color2);
}
#servicios{
    background-color: var(--color2);
    color: var(--color3);
}
#valores{
    background-color: var(--color1);
    text-align: center;
}
#footer{
    background-color: var(--color4);
    color: var(--color2);
}
.videos-promocionales .col{
    padding: 20px;
}
.padding-sm{
    padding: 10px 0;
}
.padding-md{
    padding: 25px 0;
}
.padding-xl{
    padding: 90px 0;
}
.img-fluid{
    width: 100%;
    height: auto;
    display: block;
}
.video-fluid{
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
}
.box-icon{
    display: inline-block;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 10px 10px 0 var(--color3);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.box-icon:hover{
    background-color: var(--color2);
    color: var(--color1);
}
/* activar flexbox */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 0 15px;*/
}
.row-between{
    justify-content: space-between;
}
.items-center{
    justify-items: center;
}
/* anchos personalizados */
.col{
    flex-basis: 0;
    flex-grow: 1;
}
.col-40{
    flex-basis: 40%;
    max-width: 40%;
}
.col-50{
    flex-basis: 50%;
    max-width: 50%;
}
.col-60{
    flex-basis: 60%;
    max-width: 60%;
}
.col-100{
    flex-basis: 100%;
    max-width: 100%;
}
.gap-20{
    gap: 20px;
}
.service-button{
    display: inline-block;
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.service-button:hover{
    background-color: var(--color4);
} 
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /*alineación vertical*/
}
.nav-logo{
    width: 120px;
}
/* menu hamburguesa */
.menu-toggle{
    display: none; /* oculta el boton */
    font-size: 2rem;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
}
.nav-menu-link{
    display: block;
    color: var(--color3);
    padding: 10px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.nav-menu-link:hover{
    background-color: var(--color1);
    color: var(--color2);
}
.nav-link-active{
    background-color: var(--color1);
    color: var(--color2);
}
.scroll-up{
    padding: 6px;
    border: 1px solid var(--color2);
    background-color: var(--color4);
    color: var(--color2);
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.scroll-up:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.form-control{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 5px;
    font: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color1);
}
.form-contact textarea{
    resize: none;
}
.form-link-acepto{
    color: var(--color1);
}
.form-submit{
    background-color: var(--color1);
    color: var(--color2);
    padding: 15px 30px;
    font: inherit;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.form-submit:hover{
    background-color: var(--color3);
}
/* Activar grid container */
.grid-service{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
}
.grid-card-service{
    border: 1px solid var(--color4);
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.grid-card-service h3{
    text-align: center;
    color: var(--color1);
}
.grid-card-service img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.grid-card-service p{
    margin: 15px 0;
}
.grid-card-service a{
    color: var(--color2);
    background-color: var(--color1);
    padding: 5px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/* estilizar tabla */
.table-fees{
    width: 100%;
    border-collapse: collapse;
}
.table-fees thead{
    background-color: var(--color1);
    color: var(--color2);
}
.table-fees th, td{
    padding: 10px;
    border: 1px solid var(--color1);
    text-align: center;
}
.table-fees tfoot td{
    text-align: end;
    font-weight: bold;
    font-style: italic;
}
.table-fees caption{
    caption-side: bottom;
}

/* Responsive XL - 1200px*/
@media screen and (max-width:1200px) {
    .padding-xl{
        padding: 70px 0;
    }
}
/* Responsive MD - 992px */
@media screen and (max-width:992px) {
    .form-contact .row{
        align-items: top;
    }
    .grid-service{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Responsive SM - 768px */
@media screen and (max-width:768px) {
    .nav-menu{
        flex-direction: column;
        width: 33%;
        background-color: var(--color3);
        text-align: center;
        /* posicionar menu */
        position: absolute;
        top: 80px;
        right: 0;
        /* ocultar menu */
        display: none;
    }
    .nav-menu.show{
        display: block;
    }
    .nav-menu-link{
        color: var(--color2);
        padding: 0.8rem 0;
        border-bottom: 1px solid var(--color2);
    }
    .container{
        max-width: 90%;
    }
    .videos-promocionales .col{
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .padding-xl{
        padding: 45px 0;
    }
    h2{
        font-size: var(--fs3);
    }
    .form-contact .col{
        flex-basis: 100%;
        max-width: 100%;
    }
    .menu-toggle{
        display: block;
    }
}
/* Responsive XSM - 576px */
@media screen and (max-width:576px) {
    .container{
        max-width: 95%;
    }
    h1, h2, h3, h4, h5{
        text-align: center;
    }
    body{
        font-size: 0.9rem;
    }
    #service .col{
        flex-basis: 100%;
        max-width: 100%;
        padding-bottom: 20px;
    }
    .grid-service{
        grid-template-columns: repeat(1, 1fr);
    }
    #valores .col{
        flex-basis: 100%;
        max-width: 100%;
    }
    footer{
        text-align: center;
    }
}